/* 
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif; 
*/

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
  margin: 0;
}

h1 {
  font-size: 4.768rem;
  color: rgb(5, 5, 5);
}
h2 {
  font-size: 3.815rem;
}
h3 {
  font-size: 3.052rem;
  margin-bottom: 40px;
}
h4 {
  font-size: 2.441rem;
  color: red;
}
h5 {
  font-size: 1.953rem;
}
h6 {
  font-size: 1.563rem;
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  color: rgb(69, 69, 69);
}

i {
  vertical-align: middle;
}
header {
  background-color: darksalmon;
  height: 100px;
  padding: 0 30px;
  /* Flexbox properties */
  justify-content: space-between;
  align-items: center;
}
footer {
  background-color: lavender;
  height: 200px;
  padding: 30px;
  justify-content: space-between;
  align-items: flex-start;
}
section {
  border: 2px red solid;
  padding: 1.6rem;
}
/* 
div {
  border: 2px yellow dashed;
} */
blockquote {
  font-size: 2rem;
  color: lightcyan;
}

/* Links */
a:link,
a:visited {
  text-decoration: none;
  padding: 8px;
  color: teal;
}
a:hover {
  color: darkslateblue;
}
a:active {
  color: gold;
}
/* CTA Button */
a.cta-button:link,
a.cta-button:visited {
  background-color: orangered;
  border-radius: 8px;
  color: whitesmoke;
  padding: 16px 24px;
}
a.cta-button:hover {
  background-color: tomato;
}
a.cta-button:active {
  background-color: darkred;
}
/* CTA Button Rounded */
a.cta-button-rounded:link,
a.cta-button-rounded:visited {
  color: #131045;
  background-color: white;
  border: 3px solid #131045;
  padding: 10px 20px;
  border-radius: 100px;
  box-shadow: 4px 4px 0 #131045;
}
a.cta-button-rounded:hover {
  color: #2c29de;
  border: 3px solid #2c29de;
  box-shadow: 4px 4px 0 #2c29de;
}
a.cta-button-rounded:active {
  color: #7bde29;
  border: 3px solid #7bde29;
  box-shadow: 4px 4px 0 #7bde29;
}
/* CV Button */
a.cv-button:link,
a.cv-button:visited {
  padding: 8px 16px;
  background-color: honeydew;
  border-radius: 8px;
  color: indigo;
}
a.cv-button:hover {
  background-color: darkorange;
  color: white;
}
a.cv-button:active {
  background-color: violet;
  color: white;
}

/* Classes */
.container {
  display: flex;
}
.card {
  width: 300px;
  height: 400px;
  background-color: cornsilk;
  border-radius: 24px;
}
.card > div {
  margin: 16px;
}

/* ID's */
#hero {
  background-image: url('https://source.unsplash.com/1600x900/?nature,water');
  background-size: cover;
  height: 400px;
  text-align: center;
}

#cards {
  justify-content: space-between;
}

#testimonials {
  margin: 3rem;
  box-sizing: border-box;
  background-color: cadetblue;
}

#features {
  justify-content: space-between;
}

#features > div {
  text-align: center;
}

#contact-us {
  justify-content: space-around;
}

#contact-us > div:first-child {
  width: 30%;
}
#contact-us > div:last-child {
  width: 70%;
}
